@import "tailwindcss";

/* Global styles */
* {
    /* outline: 1px solid red; */
    /* fixed */
    font-family: 'Outfit', sans-serif;
}

/* Hide scrollbar (correct way) */
::-webkit-scrollbar {
    display: none;
}

/* Optional for Firefox */
* {
    scrollbar-width: none;
}

form  input{
    @apply border border-orange-200 px-2 py-1 rounded;
}